<a [routerLink]="'/'">Volver a la lista de usuarios</a>

<form [formGroup]="formGroup" *ngIf="formGroup !== undefined" (submit)="saveUser()">
  <div>
    <label>Nombres</label>
    <input type="text" formControlName="nombres" required>
  </div>
  <div>
    <label>Apellidos</label>
    <input type="text" formControlName="apellidos" required>
  </div>
  <div>
    <label>Fecha Nacimiento</label>
    <input type="date" formControlName="fecha_nacimiento" (change)="setEdad()" required>
  </div>
  <div>
    <label>Fecha Inscripcion</label>
    <input type="date" formControlName="fecha_inscripcion" (change)="setEdad()" required>
  </div>
  <div>
    <label>Edad: {{ formGroup.get('edad')!!.value }}</label>
  </div>
  <div>
    <label>Costo</label>
    <input type="number" formControlName="costo" required>
  </div>
  <div>
    <button type="submit">Guardar Usuario</button>
  </div>
</form>
