<a [routerLink]="'/'">Volver a la lista de usuarios</a>

<form [formGroup]="formGroup" *ngIf="formGroup !== undefined" (submit)="saveUser()">
  <div>
    <label>Nombre Completo</label>
    <input type="text" formControlName="nombres" required>
    <div *ngIf="this.formGroup.value.nombres.trim().split(' ').length < 2">
      <small class="required">nombre completo debe tener al menos dos palabras</small>
    </div>
  </div>
  <div>
    <label>Fecha Nacimiento</label>
    <input type="date" formControlName="fecha_nacimiento" (change)="setEdad()" required>
  </div>
  <div>
    <label>Fecha Inscripcion</label>
    <input type="date" formControlName="fecha_inscripcion" (change)="setEdad()" required>
    <div *ngIf="this.formGroup.value.fecha_nacimiento > this.formGroup.value.fecha_inscripcion">
      <small class="required">La fecha de nacimiento no puede ser mayor a la fecha de inscripcion</small>
    </div>
  </div>
  <div>
    <label>Edad: {{ formGroup.get('edad')!!.value }}</label>
    <div *ngIf="this.formGroup.value.edad <= 18">
      <span class="required">Debe ser mayor a 18 anios</span>
    </div>
  </div>
  <div>
    <label>Costo</label>
    <input type="number" formControlName="costo" required>
  </div>
  <div>
    <button type="submit" [disabled]="!formGroup.valid ||
    this.formGroup.value.fecha_nacimiento > this.formGroup.value.fecha_inscripcion ||
    this.formGroup.value.edad <= 18 ||
    this.formGroup.value.nombres.trim().split(' ').length < 2">Guardar Usuario</button>
  </div>
</form>
